astroid==1.6.6
attrs==19.1.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bleach==3.1.0
bokeh==1.0.4
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.3
configparser==4.0.2
dash==0.39.0
dash-core-components==0.44.0
dash-daq==0.1.0
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
decorator==4.4.0
Deprecated==1.2.5
docutils==0.15.2
easygui==0.98.1
enum34==1.1.6
Flask==1.0.2
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.4.4
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.2.0
idna==2.8
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==3.0.1
jupyter-core==4.4.0
lazy-object-proxy==1.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.5
nbformat==4.4.0
numpy==1.16.2
packaging==19.0
pandas==0.24.2
pbr==5.3.1
Pillow==5.4.1
pkginfo==1.5.0.1
plotly==3.7.0
psutil==5.7.0
PyGithub==1.43.7
Pygments==2.4.2
PyJWT==1.7.1
pylint==1.9.5
pyparsing==2.3.1
pyrsistent==0.14.11
PySide==1.2.4
python-dateutil==2.8.0
pytz==2018.9
pywin32==227
PyYAML==5.1
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
retrying==1.3.3
selenium==3.141.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.5
SQLAlchemy==1.3.1
stevedore==1.30.1
tornado==5.1.1
tqdm==4.35.0
traitlets==4.3.2
twine==1.14.0
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.5
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.11.1
