<!DOCTYPE html>
<html>
	<style>
		body{background-color: #dfe6e9}
		#main_div{font-family:'Roboto', sans-serif; text-align:center;}
		.center-on-page{width:30%; margin: auto; float:center;}
		#form_div{height:25px; margin-top:15%; padding-top: 3px;}
		button{border-radius: .25em; cursor:pointer;}
		hr{margin-bottom: 0;}
		table{border-collapse: collapse; margin:auto; text-align: left;}
		tr, td{padding: 5px; border: 1px solid black;}
	</style>
	<head>
		<title>URL Shortner</title>
	</head>
	<body>
		<div id="main_div">
			<div id="form_div" class="center-on-page">
				<form action="{{ url_for('index') }}" method='POST'>
					<label>Enter Long URL</label>
					<input type="text" name="long_url">
					<button type="submit">Shorten the URL</button>
				</form>
			</div>
			{% if entries %}
			<div id='table_div'>
				
				<table>
					<thead>
						<tr style="text-align:center">
							<th>Short URL</th>
							<th>Long URL</th>
						</tr>
					</thead>
					<tbody>
						{% for entry in entries %}
						<tr>
							<td><a href={{entry.long_url}} target='_blank'>{{ entry.short_url }}</a></td>
							<td>{{ entry.long_url }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</body>
</html>